<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">For Chore!</h3>
</div>

<div class="container">
  <h2>Chores</h2>

  <!-- Chores input -->
  <form role="form" ng-submit="addChore()">
    <div class="row">
      <div class="input-group">
        <input type="text" ng-model="chore" placeholder="What needs to be done?" class="form-control">
        <span class="input-group-btn">
          <input type="submit" class="btn btn-primary" value="Add">
        </span>
      </div>
    </div>
  </form>
  <p></p>

  <!-- Chores list -->
  <p class="form-group" ng-repeat="chore in chores">
    <input type="text" ng-model="chore" class="form-control">
  </p>
</div>

<div class="footer">
  <p>♥ from the For Chore team</p>
</div>
